html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
img,
ol,
ul,
li,
form,
label,
article,
footer,
header,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
footer,
header,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

mark {
  background-color: transparent;
  color: inherit;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input,
select,
textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* Basic */

@-ms-viewport {
  width: device-width;
}

body {
  -ms-overflow-style: scrollbar;
}

@media screen and (max-width: 480px) {
  html,
  body {
    min-width: 320px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #ffffff;
}

/* Type */

body,
input,
select,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 16pt;
  font-weight: 400;
  line-height: 1.65;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

a {
  -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out,
    border-bottom-color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
  color: inherit;
  text-decoration: none;
  border-bottom: solid 1px;
}

a:hover {
  border-bottom-color: transparent;
}

strong,
b {
  font-weight: 500;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.5;
  margin: 0 0 1em 0;
  font-weight: 500;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
}

h1,
h2 {
  letter-spacing: 0.15em;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 0.8em;
}

h4 {
  font-size: 0.6em;
}

h5 {
  font-size: 0.6em;
}

h6 {
  font-size: 0.6em;
}

@media screen and (max-width: 736px) {
  h1 {
    font-size: 1.5em;
  }
}

input,
select,
textarea {
  color: #111111;
}

a:hover {
  color: #b31942 !important;
}

strong,
b {
  color: #111111;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
}

/* Header */
header {
  position: fixed;
  height: 3.75em;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #d5d5d5;
}
header ul li,
header > a {
  margin: 0.5em;
}
header > a {
  font-weight: 700;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  margin-left: 4rem;
  border: 0;
}
header ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-right: 4rem;
}

/* Banner */
#banner {
  height: 100vh;
  padding: 8em 0 6em 0;
  text-align: center;
}
#banner p {
  text-align: justify;
}
.textBox {
  text-align: justify;
  padding: 2rem 4rem;
}
